WCF_Sequel/WCF_Sequel/Sampleweb/App_WebReferences/TV/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TVSeries">
    <xs:sequence>
      <xs:element minOccurs="0" name="FavFemaleCharacter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FavMaleCharacter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TVSeriesName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TVSeries" nillable="true" type="tns:TVSeries" />
  <xs:complexType name="ArrayOfTVSeries">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TVSeries" nillable="true" type="tns:TVSeries" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTVSeries" nillable="true" type="tns:ArrayOfTVSeries" />
</xs:schema>